
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-social">
        <ul class="social-grid">
          <li>
            <a href="https://x.com/raimonvibe/" target="_blank" rel="noopener noreferrer" 
               class="social-link social-twitter">
              <i class="fab fa-x"></i>
              <span class="sr-only">X</span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCDGDNuYb2b2Ets9CYCNVbuA/videos/" target="_blank" rel="noopener noreferrer"
               class="social-link social-youtube">
              <i class="fab fa-youtube"></i>
              <span class="sr-only">YouTube</span>
            </a>
          </li>
          <li>
            <a href="https://www.tiktok.com/@raimonvibe/" target="_blank" rel="noopener noreferrer"
               class="social-link social-tiktok">
              <i class="fab fa-tiktok"></i>
              <span class="sr-only">TikTok</span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/raimonvibe/" target="_blank" rel="noopener noreferrer"
               class="social-link social-instagram">
              <i class="fab fa-instagram"></i>
              <span class="sr-only">Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://medium.com/@raimonvibe/" target="_blank" rel="noopener noreferrer"
               class="social-link social-medium">
              <i class="fab fa-medium"></i>
              <span class="sr-only">Medium</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/raimonvibe/" target="_blank" rel="noopener noreferrer"
               class="social-link social-github">
              <i class="fab fa-github"></i>
              <span class="sr-only">GitHub</span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/raimonvibe/" target="_blank" rel="noopener noreferrer"
               class="social-link social-linkedin">
              <i class="fab fa-linkedin-in"></i>
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/profile.php?id=61563450007849" target="_blank" rel="noopener noreferrer"
               class="social-link social-facebook">
              <i class="fab fa-facebook-f"></i>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-text">
        <p>Made with ❤️ by raimonvibe</p>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>
</body>
</html>
